<section id="ecoalfabetização">
	<div class="flex-container flex-reverse">
		<div class="col-md-6">
			<header>
				Escola Bem da Terra (Ecoalfabetização)
			</header>
			<p class="description">
				<q><i>A sobrevivência da humanidade dependerá da nossa alfabetização ecológica (conhecimento
dos princípios básicos da ecologia), da nossa capacidade para entender esses princípios
(interdependência, reciclagem, parceria, flexibilidade, diversidade) e a sustentabilidade como
consequência de todos.</i></q> <br><br> - Fritjof Capra
			</p>
		</div>
		<div class="col-md-6">
			<app-carousel [images]="images"></app-carousel>
		</div>
	</div>
	<div class="flex-container">
		<h2>
			Como é que a ecoalfabetização pode ajudar os professores e as escolas?
		</h2>
		<div class="col-md-6">
			<p>
				A ecoalfabetização é uma estratégia educativa onde o ser humano adquire ferramentas,
				através do conhecimento dos princípios básicos da ecológica (aprender com a Natureza), para
				diminuir o fosso entre o Saber (conceitos adquiridos) e o Fazer (ação cotidiana). Uma educação
				que vai além da aquisição de conhecimentos, leva o estudante numa viagem de transformação
				que incentiva o desenvolvimento de habilidades e valores que orientarão e motivarão para
				estilos de vida sustentáveis (trabalhar a resiliência).
			</p>
		</div>
		<div class="col-md-6">
			<p>
				A ecoalfabetização é um conceito desenvolvido pelo físico Fritjof Capra, no Centro de
				Ecoalfabetização, na Califórnia, que visa a bosca de formas de operacionalizar a
				sustentabilidade ecológica, inspirando-se nos sistemas naturais que são por essência
				sustentáveis.
			</p>
		</div>
	</div>
	<div class="flex-container">
		<h2>Actividades desenvolvidas</h2>
		<div class="col-md-6">
			<p>
				Facilitamos Cursos, Workshops, Oficinas, Campos de Trabalho e Conversas, para todas as
				idades, para ajudar na viagem rumo à sustentabilidade.
			</p>
		</div>
		<div class="col-md-6">
			<div class="flex-container">
				<app-button-cta>Conhecer</app-button-cta>
			</div>
		</div>
	</div>
</section>
