<section id="caminhadas_sensoriais">
  <div class="flex-container">
    <div class="col-md-6">
      <header>Caminhadas sensoriais.</header>
      <p class="description">
        <q
          ><i
            >…saber não tem sequer metade da importância de sentir. Se os factos
            são as sementes que mais tarde produzem conhecimento e sabedoria,
            nesse caso as emoções e as impressões dos sentidos são o solo fértil
            no qual haverão de crescer as sementes.</i
          ></q
        >
        <br /><br />
        - Rachel Carson
      </p>
    </div>
    <div class="col-md-6">
      <app-carousel [images]="images"></app-carousel>
    </div>
  </div>
  <div class="flex-container">
    <div class="col-md-6">
      <p>
        As Caminhadas Sensoriais são um convite para uma ação de descoberta e
        (re)conexão com a natureza, um encontro entre o Ser Humano e os
        elementos naturais.
      </p>
    </div>

    <div class="col-md-6">
      <p>
        Caminhadas em diversos habitats (floresta, bosque, rio, …) que para além
        do caminho em si, inclui momentos experienciais de interação e
        exploração do ecossistema envolvente, através da arte e outros desafios
        sensoriais.
      </p>
    </div>
  </div>
  <div class="flex-container">
    <h2>Actividades desenvolvidas</h2>
    <div class="col-md-6">
      <p>
        Orientamos caminhadas sensoriais em diversos ambientes naturais e com
        diferentes exercícios de (re)coneção com a natureza envolvente, sempre
        com a ligação da arte com a ecologia.
      </p>
    </div>
    <div class="col-md-6">
      <div class="flex-container">
        <app-button-cta>Participar</app-button-cta>
      </div>
    </div>
  </div>
</section>
