:host {
  display: block;
  width: 100%;
}

svg,
img {
  width: 80%;
  float: right;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  :host {
    margin-bottom: 0;
  }
  svg {
    width: 100%;
  }
}
