<section id="servicos">
	<div class="flex-container flex-reverse">
		<div class="col-md-6">
			<header>
				De que serviços dispõe o Bem da Terra?
			</header>
			<p>
				O Bem da Terra desenvolve os seguintes produtos e serviços que promovem hábitos de vida em harmonia com
				a
				natureza:
			</p>
			<ul>
				<li>
					<a href="#permacultura">Design em permacultura</a>
				</li>
				<li>
					<a href="#ecoalfabetização">Escola bem da terra (Ecoalfabetização)</a>
				</li>
				<li>
					<a href="#caminhadas_sensoriais">Caminhadas sensoriais</a>
				</li>
				<li>
					<a href="#bosque_de_alimentos">Bosque de alimentos</a>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<app-carousel [images]="images"></app-carousel>
		</div>
	</div>
</section>
