<section id="bosque_de_alimentos">
  <div class="flex-container">
    <div class="col-md-6">
      <header>Bosque de alimentos.</header>
      <p class="description">
        <q
          ><i
            >Resgatar e amar um pedaço da mãe terra é muito mais profundo do que
            simplesmente criar sistemas para manter vivo o nosso corpo físico: é
            o resgate profundo da relação do homem com a natureza, de substituir
            o tempo de relógio – nossa escravidão – por ritmos.</i
          ></q
        >
        <br /><br />
        - Marsha Hanzi
      </p>
    </div>
    <div class="col-md-6">
      <app-carousel [images]="images"></app-carousel>
    </div>
  </div>
  <div class="flex-container">
    <div class="col-md-6">
      <p>
        O Bosque de alimentos do Bem da Terra é um espaço com 450m2 em sucessão
        ecológica, que segue os princípios da agricultura natural de Masanobu
        Fukuoka. Um espaço de estudo e construção permanente, num processo de
        aceleração da sucessão ecológica e de regeneração do solo. Onde pode ser
        observado os 7 estratos da floresta (Emergente, Alto, Médio, Baixo,
        Rasteiro, Rizomas, Trepadeiras), sentido a harmonia do bosque nos
        pequenos nichos de interação e descanso e saboreado toda a abundância de
        alimentos.
      </p>
    </div>
  </div>
  <div class="flex-container">
    <h2>Actividades desenvolvidas</h2>
    <div class="col-md-6">
      <p>
        Disponibilizamos experiências no Bosque de construção, aprendizagem,
        inspiração e voluntariado.
      </p>
    </div>
    <div class="col-md-6">
      <div class="flex-container">
        <app-button-cta>Visitar</app-button-cta>
      </div>
    </div>
  </div>
</section>
